@font-face {
  font-family: "Circular";
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot");
  src: url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.woff") format("woff"),
    url("https://www.bu.edu/cdn/fonts/Circular/Circular-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "Circular", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

/*********** NAVIGATION STYLING ***********/

#navigation {
  background-color: #000;
  width: 230px;
  height: 100%;
  font-weight: bold;
  position: fixed;
  display: block;
  left: 0;
  z-index: 998;
  transition: transform 0.25s ease;
}

#navigation svg {
  margin-right: 20px;
  max-width: 230px;
}

@media only screen and (max-width: 976px) {
  #navigation {
    transform: translateX(-230px);
  }
  aside {
    width: 100% !important;
    transform: translateX(-230px);
  }
}

.navbar-wrapper {
  height: 100%;
}

.navbar-logo-wrapper {
  padding: 30px;
}

.navbar-logo {
  fill: currentColor;
  color: #fff;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  transition: border 0.25s ease;
}

#navigation .nav-links ul li {
  width: 100%;
  padding: 10px 0px;
}

#navigation ul li a {
  display: flex;
  align-items: center;
}

#navigation .nav-footer ul li {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0px 20px;
}

#navigation .nav-footer {
  max-width: 50%;
  min-width: 230px;
  margin: 0 auto;
}

#navigation .nav-footer ul li a {
  margin: 0;
}

.fa-home,
.fa-search,
.fa-record-vinyl {
  margin-right: 14px;
}

ul li a {
  color: rgba(214, 214, 214, 0.877);
  padding: 10px 0px;
  margin-left: 34px;
  transition: color 0.25s ease;
}

ul li a:hover {
  color: #fff;
  text-decoration: none;
}

ul li.active {
  border-left: 6px solid #1ed760;
}

ul li.active a {
  margin-left: 28px;
}

.nav-links {
  min-height: 60%;
}

button {
  border-radius: 30px;
  padding: 6px 0px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: background 0.25s ease, border 0.25s ease;
}

#sign-up {
  background-color: #fff;
}

#sign-up:hover {
  background-color: #1ed760;
  border: 1px solid #1ed760;
}

#log-in {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#log-in:hover {
  background: rgba(255, 255, 255, 0.2);
}

.brdr-r {
  border-right: 1px solid rgba(255, 255, 255, 0.103);
}

.btn-burger {
  background: none;
  color: #fff !important;
  font-weight: bold;
  border: none;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 34px;
  background-color: #000;
  border-radius: 4px;
  padding: 10px 20px;
  display: none;
  z-index: 999;
  opacity: 0.8;
  border-bottom: 2px solid rgb(59, 59, 59);
  transition: all0.25s ease-in-out;
  transform: scale(1);
}

.btn-burger:hover {
  transform: scale(1.05);
  color: #1db954 !important;
  border-bottom: 2px solid #1db954;
}

.btn-burger:focus {
  box-shadow: none;
}

.btn-burger:active {
  transform: scale(1);
}

@media (max-width: 976px) {
  .btn-burger {
    display: block;
  }

  #main {
    padding-top: 120px;
  }

  .burger-menu-active {
    border: 1px solid #1ed760;
    opacity: 1;
  }

  #navigation.mobile-nav-active {
    transform: translateX(0px);
    width: 100%;
    min-width: 230px;
    opacity: 0.95;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  #navigation .nav-links ul li a {
    padding: 30px;
    font-size: 1.2rem;
    margin-left: 0;
  }

  #navigation .nav-links ul li {
    padding: 0;
  }
}

/*****************************************************/

/*********** MAIN CONTAINER STYLING ***********/

aside {
  height: 100%;
  min-height: 100vh;
  width: calc(100% - 230px);
  position: relative;
  left: 230px;
  z-index: 0;
  padding: 50px 50px 150px;
  transition: transform 0.25s ease;
}

.trending-bg {
  background-color: #04487c;
  background-image: linear-gradient(180deg, #04487c 0%, #305494 21%, #010e17 58%, #010e17 100%);
}

.podcast-bg {
  background-color: #7c4c04;
  background-image: linear-gradient(180deg, #7c4c04 0%, #946c30 21%, #171101 58%, #171001 100%);
}

.moodsandgenres-bg {
  background-color: #047c72;
  background-image: linear-gradient(180deg, #047c72 0%, #30947e 21%, #011710 58%, #011710 100%);
}

.newreleases-bg {
  background-color: #60047c;
  background-image: linear-gradient(180deg, #60047c 0%, #6c3094 21%, #100117 58%, #100117 100%);
}

.discover-bg {
  background-color: #1c7c04;
  background-image: linear-gradient(180deg, #1c7c04 0%, #4c9430 21%, #0a1701 58%, #091701 100%);
}

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  padding: 3rem;
}

@media (min-width: 992px) {
  .col-lg-custom {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

/*********** MAIN CONTAINER NAVIGATION STYLING ***********/

.home-nav {
  width: 100%;
}

#main-container ul li a {
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 1px;
}

#main-container .nav-tabs {
  border: none;
  background-color: transparent;
  margin-bottom: 4rem;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  border: none;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #fff;
  border: none;
}

#main-container a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  transform: translateY(-20px);
  border-bottom: 3px solid transparent;
  transition: border 0.25s ease, transform 0.25s ease;
}

#main-container a.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  transform: translateY(6px);
  border-bottom: 3px solid #1ed760;
}

#main-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  border: none;
}

@media only screen and (max-width: 768px) {
  #main .album-card {
    margin: 0 auto;
  }
}

/*****************************************************/

/*********** MAIN CONTAINER STYLING ***********/

h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-container h2,
#search h2,
#your-library h2 {
  letter-spacing: -5px;
  line-height: 4rem;
  font-size: 4rem;
  user-select: none;
}

#main-container h3,
#search h3,
#your-library h3 {
  letter-spacing: -2px;
  user-select: none;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: rgba(214, 214, 214, 0.877);
  font-family: helvetica;
  margin: 0;
}

#main-container img,
#search img {
  border-radius: 4px;
}

#main-container .tab-content > .active {
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
}

#main-container .album-header-wrapper a {
  color: rgba(214, 214, 214, 0.877);
  text-decoration: none;
  transition: color 0.25s ease;
}

#main-container .album-header-wrapper a:hover {
  color: #fff;
}

#main-container .img-full {
  width: 100%;
}

#main-container .expand-section {
  color: #fff;
}

#main-container .album-card,
#search-content .album-card,
#artist-page .album-card {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  transform: scale(1);
  transition: transform 0.25s ease, background-color 0.25s ease;
  cursor: pointer;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 306px;
}

@media (min-width: 1500px) {
  #main-container .col-xxl-2 {
    flex: 0 0 16.666667%;
    max-width: 306px;
    min-width: 306px;
  }
}

#search-content .album-card h5,
#artist-page .album-card h5 {
  margin-top: 1rem !important;
}

#main-container .album-card:hover,
#search-content .album-card:hover,
#artist-page .album-card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

#main-container .album-card h5,
#search-content .album-card h5 {
  margin-top: 10px;
}

#main-container div.album-header-wrapper:not(:first-child) {
  margin-top: 5rem;
}

/*****************************************************/

/*********** SEARCH CONTAINER STYLING ***********/

aside#search {
  background-color: #0f0f0f;
  background-image: linear-gradient(135deg, #0f0f0f 0%, #1b1b1b 100%);
}

#search .top-wrapper input,
#your-library .top-wrapper input {
  padding: 14px 20px 14px 45px;
  border-radius: 30px;
  border: none;
  width: 400px;
  outline: none;
  font-family: Helvetica, sans-serif;
}

@media (max-width: 768px) {
  #search .top-wrapper input,
  #your-library .top-wrapper input {
    width: 100%;
  }
}

#search .top-wrapper .search-bar,
#your-library .top-wrapper .search-bar {
  position: relative;
}

#search .top-wrapper .search-bar .fa-search,
#your-library .top-wrapper .search-bar .fa-search {
  position: absolute;
  left: 16px;
  top: 18px;
}

#search .browse-card {
  height: 180px;
  width: 180px;
  border-radius: 6px;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.25s ease;
  position: relative;
  vertical-align: top;
}

#search .browse-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

#search .browse-card h4 {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  #search .browse-card {
    width: 100%;
    margin-right: 0;
  }
}

#search .browse-card:hover {
  transform: scale(1.05);
}

#search .browse-card #search .row {
  margin-bottom: 1rem;
}

#artist-header {
  opacity: 0;
  transition: opacity 0.25s ease;
}

#artist-row .album-card {
  min-width: 180px;
  max-width: 250px;
}

#tracks-header {
  opacity: 0;
  transition: opacity 0.25s ease;
}

#search .artist-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/*****************************************************/

/*********** YOUR LIBRARY STYLING ***********/

aside#your-library {
  background-color: #0f0f0f;
  background-image: linear-gradient(135deg, #0f0f0f 0%, #1b1b1b 100%);
}

#your-library ul li {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

#your-library ul li a,
#your-library ul {
  margin: 0;
  border-radius: 6px;
  transition: background-color 0.25s ease;
  border: none;
}

#your-library ul li a.active {
  background-color: rgba(255, 255, 255, 0.05);
}

/*********** ARTIST PAGE STYLING***********/

aside#artist-page {
  background-color: #181818;
  padding: 0px 0px 150px;
}

#artist-page h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  letter-spacing: -2px;
}

#artist-page h2 {
  font-size: 3rem;
  letter-spacing: -2px;
}

#artist-page .album-art-jumbotron {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right top 20%;
  background-size: cover;
  object-fit: cover;
}

#artist-page .album-art-jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background-image: linear-gradient(0deg, #181818 10%, rgba(0, 0, 0, 0) 50%);
}

#artist-page .album-art-jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background-color: #181818;
}

#artist-page .album-art-jumbotron h1 {
  z-index: 5;
  position: relative;
  color: #fff;
}

#artist-page button {
  position: relative;
  z-index: 5;
  color: #fff;
  padding: 14px 20px;
  width: 200px;
  margin: 0px 10px;
}

#artist-page button:focus {
  box-shadow: none;
}

#artist-page .btn-play {
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  transform: scale(1);
  transition: transform 0.25s ease, background-color 0.25s ease;
}

#artist-page .btn-play:hover {
  background-color: #22ad53;
  transform: scale(1.02);
}

#artist-page .btn-follow {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  border-radius: 50px;
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.25s ease, opacity 0.25s ease;
}

#artist-page .btn-follow:hover {
  opacity: 1;
  transform: scale(1.02);
}

#artist-page .btn-more {
  border: none;
  width: 50px;
  margin-top: -20px;
  margin-left: 10px;
  font-size: 2rem;
  padding: 0;
}

#artist-page .artist-links {
  position: absolute;
  top: 42vh;
  z-index: 5;
  left: 0;
  right: 0;
  text-align: center;
}

#artist-page .artist-links ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin: 0rem 4rem;
  pointer-events: none;
}

#artist-page .artist-links ul li.first-li {
  color: rgba(255, 255, 255, 1);
}

#artist-page .first-li::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  transform: translateY(6px);
  border-bottom: 3px solid #1ed760;
}

#artist-page .album-wrapper {
  padding: 50px 100px;
  position: relative;
  z-index: 2;
}

#artist-page .container.albums-container {
  max-width: 1500px;
}

#artist-page .album-card {
  text-align: center;
}

#artist-page .albumid,
#tracklist-page .albumid {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

/*****************************************************/

/*********** ARTIST PAGE STYLING***********/

aside#tracklist-page {
  background-color: #0f0f0f;
  background-image: linear-gradient(180deg, #1b1b1b 0%, #0f0f0f 100%);
  color: white;
}

#tracklist-page .left-wrapper,
#tracklist-page .right-wrapper {
  height: 100%;
}

#tracklist-page .right-wrapper {
  max-width: 600px;
}

#tracklist-page .left-wrapper {
  position: sticky;
  top: 0;
  padding-top: 4rem;
}

#tracklist-page h1 {
  font-size: 5rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  letter-spacing: -2px;
}

#tracklist-page h2 {
  font-size: 3rem;
  letter-spacing: -2px;
  max-width: 80%;
}

#tracklist-page button {
  position: relative;
  z-index: 5;
  color: #fff;
  padding: 14px 20px;
  width: 200px;
  margin: 0px 10px;
}

#tracklist-page button:focus {
  box-shadow: none;
}

#tracklist-page .btn-play {
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  transition: background-color 0.25s ease;
}

#tracklist-page .btn-play:hover {
  background-color: #24a852;
}

#tracklist-page .btn-heart {
  border: none;
  width: 40px;
  font-size: 1.5rem;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1);
  transition: color 0.25s ease, transform 0.25s ease;
}

#tracklist-page .btn-heart:hover {
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

#tracklist-page .heart-fill {
  color: #fa2743;
}

#tracklist-page .heart-fill:hover {
  color: #fa2743;
}

#tracklist-page .added-to-album {
  padding: 10px;
  color: #1db954;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#tracklist-page .added-fadeout {
  transition: opacity 0.25s ease-in-out;
  opacity: 0 !important;
}

#tracklist-page .btn-more {
  border: none;
  width: 40px;
  margin-top: -15px;
  font-size: 1.5rem;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.25s ease;
}

#tracklist-page .btn-more:hover {
  color: rgba(255, 255, 255, 0.9);
}

#tracklist-page #back-button {
  background: #000;
  border: none;
  outline: none;
  width: 100px;
  padding: 14px 2px;
  transform: scale(1);
  transition: transform 0.25s ease-in-out, background 0.25s ease-in-out;
}

#tracklist-page #back-button:hover {
  transform: scale(1.05);
  background: rgb(3, 3, 3);
}

#tracklist-page .track-wrap {
  width: 100%;
  position: relative;
  padding: 10px 20px;
  transition: background-color 0.25s ease, padding 0.25s ease-in-out, transform 0.25s ease-in-out;
  border-radius: 12px;
}

#tracklist-page .track-wrap:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#tracklist-page .fa-music {
  position: absolute;
  top: 12px;
  left: -34px;
  color: rgba(255, 255, 255, 0.6);
}

#tracklist-page .track-wrap {
  cursor: pointer;
}

#tracklist-page #album-cover {
  width: 350px;
  height: 350px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(0, 0, 0, 0.3);
}

#tracklist-page #num-of-songs {
  font-size: 0.7rem;
}

@media (max-width: 1100px) {
  #tracklist-page .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #album-name {
    text-align: center;
  }

  #tracklist-page .left-wrapper {
    position: relative;
    margin-bottom: 20px;
  }
}

/*d-flex flex-column justify-content-center align-items-center*/

#your-library #album-cover {
  width: 150px;
  height: 150px;
  margin-bottom: 0.5rem !important;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 30px rgba(0, 0, 0, 0.3);
}

#your-library .library-album {
  padding: 30px 0px 20px 0px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.25s ease, background-color 0.25s ease;
}

#your-library .library-album:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.1);
}

#your-library .albumid {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

/*****************************************************/

/*********** ANIMATIONS ***********/

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd-dly {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
}

@-webkit-keyframes swing-in-top-fwd-dly {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd-dly {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flip-out-hor-top {
  -webkit-animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}

/*****************************************************/

/* PLAYER STYLING */

.title {
  margin-top: 10px;
}

.artist {
  font-size: 0.7rem;
  margin-bottom: 10px;
  font-family: Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
.play-btn {
  margin-bottom: 10px;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

.album {
  width: 20%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.song-info {
  padding-top: 100px;
  padding-bottom: 300px;
}

.info {
  width: 100px;
  justify-content: space-evenly;
  display: flex;
}

#player .fas,
#player .far {
  cursor: pointer;
}

.play-btn {
  border: none;
  color: white;
}

.player-cover-img {
  min-width: 60px;
  height: 60px;
  background-image: url("https://e-cdns-images.dzcdn.net/images/cover/62b62727311e19ee1e569fcfdfc6c0fa/250x250-000000-80-0-0.jpg");
  background-position: center;
  background-size: cover;
}

#player-song-name {
  max-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-title-info {
  min-width: 195px;
}

.track-nav {
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
}

.track-nav:first-of-type {
  padding-left: 30px;
}

.track-nav:last-of-type {
  padding-right: 30px;
}

.controls {
  margin-top: 10px;
}

.player input[type="range"] {
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  height: 10px;
}

.small-play {
  position: absolute;
  top: -200px;
  left: 100px;
}

i#small-play {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

.empty img {
  width: 70px;
  height: 70px;
}

.empty {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-title-info {
  margin-left: 15px;
}

input {
  cursor: pointer;
}

.buttons button {
  border: none;
  color: rgba(255, 255, 255, 0.6);
  background: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  outline: none;
  transform: scale(1);
  transition: transform 0.25s ease;
}

.buttons i {
  color: rgba(255, 255, 255, 0.5);
}

.buttons i:hover {
  color: #fff;
}

.buttons button:hover {
  transform: scale(1.08);
  color: #fff;
}

input[type="range"] {
  background: #535353;
  transition: all 0.25 ease-in-out;
}
input.track-length {
  width: 400px;
  margin-right: 20px;
  margin-left: 20px;
}

.track-nav {
  color: white;
  height: 100px;
  width: 100%;
  background: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  flex-direction: row;
  justify-content: space-between;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-volume {
  padding-right: 10px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #535353;
    outline: none;

    border-radius: 20px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #1db954;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: -250px 0 0 250px rgba(255, 255, 255, 0.5);
  }
}

.track-time-current,
.track-time-to-finish {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: Helvetica, sans-serif;
}

@media (max-width: 768px) {
  #player-album-info {
    display: block;
  }
}

#player-album-info {
  width: 300px;
}

.active-track {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateX(-20px);
}

.active-track:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

#player {
  border-top: 2px solid #000;
}

/* PRELOADER */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1db954;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1db954;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #000;
  z-index: 1000;
  -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0); /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%); /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
